<?php
$this->mainMenu()->setActiveItemId('balance');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Betalingen' => $this->url('betaling'),
]);

echo $this->partial('/product/partial/flashMessenger.phtml');
?>

<div class="row">
    <div class="col-md-12">
        <?= $this->flashMessenger()->render('error', ['alert', 'alert-error', 'alert-dismissible']); ?>
        <?= $this->flashMessenger()->render('success', ['alert', 'alert-success', 'alert-dismissible']); ?>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Historie van betalingen</h3>
            </div>
            <div class="box-body table-responsive">
                <table id="datatable" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Datum invoer</th>
                        <th>Bedrag</th>
                        <th>Datum betaling</th>
                        <th>Soort betaling</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?
                    /** @var \Payment\Entity\Payment $payment */
                    foreach ($this->payments as $payment):
                        $typeName = "";
                        switch ($payment->getType()) {
                            case 1:
                                $typeName = "Contant";
                                break;
                            case 2:
                                $typeName = "Overschrijving";
                                break;
                            case 3:
                                $typeName = "Voorschot";
                                break;
                        } ?>
                        <tr>
                            <td><?= $payment->getDateCreated()->format('H:i d-m-Y') ?></td>
                            <td>&euro; <?= $payment->getAmount() ?></td>
                            <td><?= $payment->getDatePayed()->format('d-m-Y') ?></td>
                            <td><?= $typeName ?></td>
                        </tr>
                    <? endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: true,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true,
            order: [[2, "desc"]],
        })
    });
</script>