<?php

$this->mainMenu()->setActiveItemId('payment');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Betalingen' => $this->url('betaling'),
    'Overzicht' => $this->url('betaling', ['action' => 'overview']),
]);

echo $this->partial('/product/partial/flashMessenger.phtml');

$form = $this->form;
$form->prepare();

?>

<div class="row">
    <div class="col-md-12">
        <?= $this->flashMessenger()->render('error', ['alert', 'alert-error', 'alert-dismissible']); ?>
        <?= $this->flashMessenger()->render('success', ['alert', 'alert-success', 'alert-dismissible']); ?>

        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Betaling invoeren</h3>
            </div>
            <?= $this->form()->openTag($form); ?>
            <div class="box-body">
                <?= $this->form()->openTag($form); ?>
                <div class="box-body">

                    <?= $this->formElement($form->get('csrf')); ?>

                    <div class="col-md-3">
                        <?= $this->formLabel($form->get('user')); ?>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <?= $this->formElement($form->get('user')); ?>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <?= $this->formLabel($form->get('amount')); ?>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                            <?= $this->formElement($form->get('amount')); ?>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <?= $this->formLabel($form->get('paymentDate')); ?>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <?= $this->formElement($form->get('paymentDate')); ?>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <?= $this->formLabel($form->get('type')); ?>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-bank"></i></span>
                            <?= $this->formElement($form->get('type')); ?>
                        </div>
                    </div>
                </div>

                <div class="box-footer">
                    <?= $this->formElement($form->get('submit')); ?>
                </div>
                <?= $this->form()->closeTag(); ?>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Historie van betalingen</h3>
            </div>
            <div class="box-body table-responsive">
                <table id="example" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Datum invoer</th>
                        <th>Naam</th>
                        <th>Bedrag</th>
                        <th>Datum betaling</th>
                        <th>Soort betaling</th>
                        <th>Acties</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?
                    /** @var \Payment\Entity\Payment $payment */
                    foreach ($this->payments as $payment):
                        $typeName = "";
                        switch ($payment->getType()) {
                            case 1:
                                $typeName = "Contant";
                                break;
                            case 2:
                                $typeName = "Overschrijving";
                                break;
                            case 3:
                                $typeName = "Voorschot";
                                break;
                        } ?>
                        <tr>
                            <td><?= $payment->getDateCreated()->format('H:i d-m-Y') ?></td>
                            <td><?= $payment->getUser()->getFullName() ?></td>
                            <td>&euro; <?= $payment->getAmount() ?></td>
                            <td><?= $payment->getDatePayed()->format('d-m-Y') ?></td>
                            <td><?= $typeName ?></td>
                            <td><a id="removeItem" onclick="removeItem(<?= $payment->getId() ?>); return false;"
                                   href="#"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                    <? endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
     id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Bevestigen</h4>
            </div>
            <div class="modal-body">
                <span>Weet je zeker dat je deze betaling wilt verwijderen?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-no">Nee</button>
                <button type="button" class="btn btn-primary" id="modal-btn-yes">Ja</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#paymentDate").datepicker({
            format: 'dd-mm-yyyy',
        });
    });

    $(document).ready(function () {
        $('#example').DataTable({
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: true,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true,
            order: [[3, "desc"]],
        })
    });

    function removeItem(id) {
        var id = id;
        var base_url = window.location.origin;

        $("#deleteModal").modal('show');

        $("#modal-btn-no").on("click", function () {
            $("#deleteModal").modal('hide');
        });

        $("#modal-btn-yes").on("click", function () {
            url = base_url + "/betaling/delete/" + id
            // alert(url);
            $(location).attr("href", url);
        });
    }
</script>
