<div class="box box-info ">
    <div class="box-header with-border">
        <h3 class="box-title">Overzicht saldo's</h3>
        <div class="box-tools pull-right">
            <!-- Collapse Button -->
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div style="max-height: 500px" class="box-body table-responsive">
        <table id="datatable" class="table table-hover">
            <thead>
            <tr>
                <th>Naam</th>
                <th>Saldo</th>
            </tr>
            </thead>
            <tbody>
            <?
            foreach ($this->balances as $balance): ?>
                <tr>
                    <td><?= $balance['fullName'] ?></td>
                    <td style="<?= ($balance['balance'] < 0) ? 'color:red' : '' ?>">
                        &euro; <?= $balance['balance'] ?></td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
    </div>
</div>

