<div class="info-box">
    <span class="info-box-icon <?= ($this->balance < 0) ? 'bg-red' : 'bg-green' ?>"><i
                class="ion ion-cash"></i></span>

    <div class="info-box-content">
        <span class="info-box-text">Saldo</span>
        <span class="info-box-number">&euro; <?= $this->balance ?></span>
        <? if ($this->balance < 0) : ?>
            <span class="info-box-more" style="color:red">Je saldo is te laag.</span>
        <? endif; ?>
    </div>
</div>

