<?php

$this->mainMenu()->setActiveItemId('product');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Producten' => $this->url('product'),
    'Aanpassen' => $this->url('product', ['action' => 'edit', 'id' => $product->getId()])
]);

echo $this->partial('/product/partial/flashMessenger.phtml');

$form = $this->form;
$form->prepare();

?>
<div class="row">
    <div class="col-md-12">
        <?= $this->flashMessenger()->render('error', ['alert', 'alert-error', 'alert-dismissible']); ?>
        <?= $this->flashMessenger()->render('success', ['alert', 'alert-success', 'alert-dismissible']); ?>

        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Product aanpassen</h3>
            </div>
            <?= $this->form()->openTag($form); ?>
            <div class="box-body">

                <?= $this->formElement($form->get('csrf')); ?>

                <div class="form-group">
                    <row>
                        <div class="col-md-3"></div>
                        <div class="col-md-6 input-group">
                            <span class="input-group-addon"><i class="fa fa-beer"></i></span>
                            <?= $this->formElement($form->get('productName')); ?>
                        </div>
                        <div class="col-md-3"></div>
                    </row>
                </div>
                <div class="form-group">
                    <row>
                        <div class="col-md-3"></div>
                        <div class="col-md-6 input-group">
                            <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                            <?= $this->formElement($form->get('priceCategory')); ?>
                        </div>
                        <div class="col-md-3"></div>
                    </row>
                </div>
                <div>
                    <row>
                        <div class="col-md-3"></div>
                        <div class="col-md-6 input-group">
                            <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                            <?= $this->formElement($form->get('productStock')); ?>
                        </div>
                        <div class="col-md-3"></div>
                    </row>
                </div>
            </div>
            <div class="box-footer">
                <?= $this->formElement($form->get('submit')); ?>
            </div>
            <?= $this->form()->closeTag(); ?>
        </div>
    </div>
</div>

<?= $this->partial('/product/partial/productStock.phtml') ?>
