<?php
$this->mainMenu()->setActiveItemId('priceCategory');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Prijscategorieën' => $this->url('prijscategorie'),
]);

echo $this->partial('/product/partial/flashMessenger.phtml');

?>
<div class="col-md-12">

</div>

<div class="row">
    <div class="col-md-12">
        <?= $this->flashMessenger()->render('error', ['alert', 'alert-error', 'alert-dismissible']); ?>
        <?= $this->flashMessenger()->render('success', ['alert', 'alert-success', 'alert-dismissible']); ?>
    </div>

    <?= $this->partial('/product/partial/categories.phtml') ?>

    <div class="col-md-6">
        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Categorie toevoegen</h3>
            </div>
            <?= $this->form()->openTag($form); ?>
            <div class="box-body">

                <?= $this->formElement($form->get('csrf')); ?>

                <div class="form-group">
                    <row>
                        <div class="col-md-3"></div>
                        <div class="col-md-6 input-group">
                            <span class="input-group-addon"><i class="fa fa-beer"></i></span>
                            <?= $this->formElement($form->get('categoryName')); ?>
                        </div>
                        <div class="col-md-3"></div>
                    </row>
                </div>
                <div class="form-group">
                    <row>
                        <div class="col-md-3"></div>
                        <div class="col-md-6 input-group">
                            <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                            <?= $this->formElement($form->get('categoryPrice')); ?>
                        </div>
                        <div class="col-md-3"></div>
                    </row>
                </div>
            </div>
            <div class="box-footer">
                <?= $this->formElement($form->get('submit')); ?>
            </div>
            <?= $this->form()->closeTag(); ?>
        </div>
    </div>
</div>