<?php
$this->mainMenu()->setActiveItemId('consumption');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Consumptiehistorie' => $this->url('consumptie'),
]);

echo $this->partial('/product/partial/flashMessenger.phtml');
?>

<div class="row">
    <div class="col-md-12">
        <?= $this->flashMessenger()->render('error', ['alert', 'alert-error', 'alert-dismissible']); ?>
        <?= $this->flashMessenger()->render('success', ['alert', 'alert-success', 'alert-dismissible']); ?>

        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Historie consumpties</h3>
            </div>
            <div class="box-body table-responsive">
                <table id="consumption" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Datum invoer</th>
                        <th>Product</th>
                        <th>Aantal</th>
                        <th>Categorie</th>
                        <th>Totaalprijs</th>
                        <th>Acties</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?
                    /** @var \Consumption\Entity\Consumption $consumption */
                    foreach ($this->consumptions as $consumption): ?>
                        <? if ($consumption->getActive() == true) : ?>
                            <tr>
                                <td><?= $consumption->getDate()->format('H:i d-m-Y') ?></td>
                                <td><?= $productName = ($consumption->getProduct() != null ? $consumption->getProduct()->getName() : ''); ?></td>
                                <td><?= $consumption->getAmount() ?></td>
                                <td><?= $consumption->getPriceCategory()->getName() ?></td>
                                <td>&euro; -<?= $consumption->getTotalPrice() ?></td>
                                <td><a id="removeItem" onclick="removeItem(<?= $consumption->getId() ?>); return false;"
                                       href="#"><i class="fa fa-remove"></i></a>
                                </td>
                            </tr>
                        <? endif; ?>
                    <? endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Historie eten en overige</h3>
            </div>
            <div class="box-body table-responsive">
                <table id="specialConsumption" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Datum invoer</th>
                        <th>Beschrijving</th>
                        <th>Datum consumptie</th>
                        <th>Aantal</th>
                        <th>Totaalprijs</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?
                    /** @var \Consumption\Entity\SpecialConsumption $specialConsumption */
                    foreach ($this->specialConsumptions as $specialConsumption): ?>
                        <? if ($specialConsumption->getActive() == true) : ?>
                            <tr>
                                <td><?= $specialConsumption->getDateCreated()->format('H:i d-m-Y') ?></td>
                                <td><?= $specialConsumption->getDescription() ?></td>
                                <td><?= $specialConsumption->getDateConsumption()->format('d-m-Y') ?></td>
                                <td><?= $specialConsumption->getAmount() ?></td>
                                <td>&euro; -<?= $specialConsumption->getTotalPrice() ?></td>
                            </tr>
                        <? endif; ?>
                    <? endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
     id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Bevestigen</h4>
            </div>
            <div class="modal-body">
                <span>Weet je zeker dat je deze consumptie wilt verwijderen?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-no">Nee</button>
                <button type="button" class="btn btn-primary" id="modal-btn-yes">Ja</button>
            </div>
        </div>
    </div>
</div>

<!-- page script -->
<script>
    $(document).ready(function () {
        $('#consumption').DataTable({
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: true,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true,
            order: [[0, "desc"]],
        })
    });

    $(document).ready(function () {
        $('#specialConsumption').DataTable({
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: true,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true,
            order: [[2, "desc"]],
        })
    });

    function removeItem(id) {
        var id = id;
        var base_url = window.location.origin;

        $("#deleteModal").modal('show');

        $("#modal-btn-no").on("click", function () {
            $("#deleteModal").modal('hide');
        });

        $("#modal-btn-yes").on("click", function () {
            url = base_url + "/consumptie/delete/" + id
            // alert(url);
            $(location).attr("href", url);
        });
    }
</script>
