<?php

$this->mainMenu()->setActiveItemId('consumptionInput');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Bulkinvoer' => $this->url('consumptie'),
]);

echo $this->partial('/product/partial/flashMessenger.phtml');

$form = $this->form;
$form->prepare();

?>

<div class="row">
    <div class="col-md-12">
        <?= $this->flashMessenger()->render('error', ['alert', 'alert-error', 'alert-dismissible']); ?>
        <?= $this->flashMessenger()->render('success', ['alert', 'alert-success', 'alert-dismissible']); ?>
    </div>
    <div class="col-md-8">
        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Consumpties invoeren</h3>
            </div>
            <?= $this->form()->openTag($form); ?>
            <div class="box-body">
                <?= $this->form()->openTag($form); ?>
                <div class="box-body">

                    <?= $this->formElement($form->get('csrf')); ?>

                    <div class="col-md-4">
                        <?= $this->formLabel($form->get('user')); ?>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <?= $this->formElement($form->get('user')); ?>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <?= $this->formLabel($form->get('priceCategory')); ?>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-info"></i></span>
                            <?= $this->formElement($form->get('priceCategory')); ?>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <?= $this->formLabel($form->get('dateConsumption')); ?>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <?= $this->formElement($form->get('dateConsumption')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <?= $this->formLabel($form->get('amount')); ?>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                            <?= $this->formElement($form->get('amount')); ?>
                        </div>
                    </div>
                </div>

                <div class="box-footer">
                    <?= $this->formElement($form->get('submit')); ?>
                </div>
                <?= $this->form()->closeTag(); ?>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#dateConsumption").datepicker({
            format: 'dd-mm-yyyy',
        });
    });
</script

