<?php
$this->mainMenu()->setActiveItemId('consumptionOverview');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Alle Consumpties' => $this->url('consumptie', ['action' => 'overview']),
]);

echo $this->partial('/product/partial/flashMessenger.phtml');
?>

<div class="row">
    <div class="col-md-12">
        <?= $this->flashMessenger()->render('error', ['alert', 'alert-error', 'alert-dismissible']); ?>
        <?= $this->flashMessenger()->render('success', ['alert', 'alert-success', 'alert-dismissible']); ?>

        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Historie van alle consumpties</h3>
            </div>
            <div class="box-body table-responsive">
                <table id="example" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Datum invoer</th>
                        <th>Naam</th>
                        <th>Product</th>
                        <th>Aantal</th>
                        <th>Categorie</th>
                        <th>Totaalprijs</th>
                        <th>Acties</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?
                    /** @var \Consumption\Entity\Consumption $consumption */
                    foreach ($this->consumptions as $consumption): ?>
                        <?php
                        $active = $consumption->getActive();
                        $productName = ($consumption->getProduct() != null ? $consumption->getProduct()->getName() : '');
                        ?>
                        <tr style="<?= ($active == false ? 'color:red' : '') ?>">
                            <td class="<?= ($active == false ? 'line-through' : '') ?>">
                                <?= $consumption->getDate()->format('H:i d-m-Y') ?></td>
                            <td class="<?= ($active == false ? 'line-through' : '') ?>">
                                <?= $consumption->getUser()->getFullName() ?></td>
                            <td class="<?= ($active == false ? 'line-through' : '') ?>">
                                <?= $productName ?></td>
                            <td class="<?= ($active == false ? 'line-through' : '') ?>">
                                <?= $consumption->getAmount() ?></td>
                            <td class="<?= ($active == false ? 'line-through' : '') ?>">
                                <?= $consumption->getPriceCategory()->getName() ?></td>
                            <td class="<?= ($active == false ? 'line-through' : '') ?>">
                                &euro; -<?= $consumption->getTotalPrice() ?></td>
                            <td>
                                <? if ($active == true) : ?>
                                    <a id="removeItem" onclick="removeItem(<?= $consumption->getId() ?>); return false;"
                                       href="#"><i class="fa fa-remove"></i></a>
                                <? else: ?>
                                    <a id="setActive" href="<?= $this->url('consumptie', ['action' => 'setActive',
                                        'id' => $consumption->getId()]) ?>"><i class="fa fa-check"></i></a>
                                <? endif; ?>
                            </td>
                        </tr>
                    <? endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
     id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Bevestigen</h4>
            </div>
            <div class="modal-body">
                <span>Weet je zeker dat je deze consumptie op inactief wilt zetten?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-no">Nee</button>
                <button type="button" class="btn btn-primary" id="modal-btn-yes">Ja</button>
            </div>
        </div>
    </div>
</div>

<!-- page script -->
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: true,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true,
            order: [[0, "desc"]],
        })
    });

    function removeItem(id) {
        var id = id;
        var base_url = window.location.origin;

        $("#deleteModal").modal('show');

        $("#modal-btn-no").on("click", function () {
            $("#deleteModal").modal('hide');
        });

        $("#modal-btn-yes").on("click", function () {
            url = base_url + "/consumptie/adminDelete/" + id
            // alert(url);
            $(location).attr("href", url);
        });
    }
</script>
