<?php

$this->mainMenu()->setActiveItemId('specialInput');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Eten en overige' => $this->url('consumptie', ['action' => 'special']),
]);

echo $this->partial('/product/partial/flashMessenger.phtml');

$form = $this->form;
$form->prepare();

?>

<div class="row">
    <div class="col-md-12">
        <?= $this->flashMessenger()->render('error', ['alert', 'alert-error', 'alert-dismissible']); ?>
        <?= $this->flashMessenger()->render('success', ['alert', 'alert-success', 'alert-dismissible']); ?>

        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Eten of overige consumptie invoeren</h3>
            </div>
            <?= $this->form()->openTag($form); ?>
            <div class="box-body">
                <?= $this->form()->openTag($form); ?>
                <div class="box-body">

                    <?= $this->formElement($form->get('csrf')); ?>

                    <div class="col-md-2">
                        <?= $this->formLabel($form->get('user')); ?>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <?= $this->formElement($form->get('user')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <?= $this->formLabel($form->get('dateConsumption')); ?>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <?= $this->formElement($form->get('dateConsumption')); ?>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <?= $this->formLabel($form->get('description')); ?>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-info"></i></span>
                            <?= $this->formElement($form->get('description')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <?= $this->formLabel($form->get('price')); ?>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                            <?= $this->formElement($form->get('price')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <?= $this->formLabel($form->get('amount')); ?>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                            <?= $this->formElement($form->get('amount')); ?>
                        </div>
                    </div>
                </div>

                <div class="box-footer">
                    <?= $this->formElement($form->get('submit')); ?>
                </div>
                <?= $this->form()->closeTag(); ?>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Historie</h3>
            </div>
            <div class="box-body table-responsive">
                <table id="datatable" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Datum invoer</th>
                        <th>Naam</th>
                        <th>Datum consumptie</th>
                        <th>Beschrijving</th>
                        <th>Aantal</th>
                        <th>Totaalprijs</th>
                        <th>Acties</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?
                    /** @var \Consumption\Entity\SpecialConsumption $specialConsumption */
                    foreach ($this->specialConsumptions as $specialConsumption): ?>
                        <?php
                        $active = $specialConsumption->getActive();
                        ?>
                        <tr style="<?= ($active == false ? 'color:red' : '') ?>">
                            <td class="<?= ($active == false ? 'line-through' : '') ?>">
                                <?= $specialConsumption->getDateCreated()->format('H:i d-m-Y') ?></td>
                            <td class="<?= ($active == false ? 'line-through' : '') ?>">
                                <?= $specialConsumption->getUser()->getFullName() ?></td>
                            <td class="<?= ($active == false ? 'line-through' : '') ?>">
                                <?= $specialConsumption->getDateConsumption()->format('d-m-Y') ?></td>
                            <td class="<?= ($active == false ? 'line-through' : '') ?>">
                                <?= $specialConsumption->getDescription() ?></td>
                            <td class="<?= ($active == false ? 'line-through' : '') ?>">
                                <?= $specialConsumption->getAmount() ?></td>
                            <td class="<?= ($active == false ? 'line-through' : '') ?>">
                                &euro; -<?= $specialConsumption->getTotalPrice() ?></td>
                            <td>
                                <? if ($active == true) : ?>
                                    <a id="removeItem"
                                       onclick="removeItem(<?= $specialConsumption->getId() ?>); return false;"
                                       href="#"><i class="fa fa-remove"></i></a>
                                <? else: ?>
                                    <a id="setActive"
                                       href="<?= $this->url('consumptie', ['action' => 'setSpecialActive',
                                           'id' => $specialConsumption->getId()]) ?>"><i class="fa fa-check"></i></a>
                                <? endif; ?>
                            </td>
                        </tr>
                    <? endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
     id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Bevestigen</h4>
            </div>
            <div class="modal-body">
                <span>Weet je zeker dat je deze speciale consumptie wilt verwijderen?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-no">Nee</button>
                <button type="button" class="btn btn-primary" id="modal-btn-yes">Ja</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#dateConsumption").datepicker({
            format: 'dd-mm-yyyy',
        });
    });

    $(document).ready(function () {
        $('#datatable').DataTable({
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: true,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true,
            order: [[2, "desc"]],
        })
    });

    function removeItem(id) {
        var id = id;
        var base_url = window.location.origin;

        $("#deleteModal").modal('show');

        $("#modal-btn-no").on("click", function () {
            $("#deleteModal").modal('hide');
        });

        $("#modal-btn-yes").on("click", function () {
            url = base_url + "/consumptie/deleteSpecial/" + id
            $(location).attr("href", url);
        });
    }
</script>