<?php
$this->headTitle('Gebruiker toevoegen');

$this->mainMenu()->setActiveItemId('gebruikers');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Gebruikersbeheer' => $this->url('gebruikers'),
    'Gebruiker toevoegen' => $this->url('gebruikers', ['action' => 'add'])
]);

$form->get('email')->setAttributes([
    'class' => 'form-control',
    'placeholder' => 'name@example.com'
]);

$form->get('full_name')->setAttributes([
    'class' => 'form-control',
    'placeholder' => 'Naam'
]);

$form->get('status')->setAttributes([
    'class' => 'form-control'
]);

$form->get('password')->setAttributes([
    'class' => 'form-control',
    'placeholder' => 'Wachtwoord',
]);

$form->get('confirm_password')->setAttributes([
    'class' => 'form-control',
    'placeholder' => 'Wachtwoord',
]);

$form->get('roles')->setAttributes([
    'class' => 'form-control'
]);

$form->get('submit')->setAttributes(['class' => 'btn btn-primary pull-right'])->setValue('opslaan');

$form->prepare();
?>

<div class="row">
    <div class="col-md-6">
        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Gebruiker toevoegen</h3>
            </div>
            <div class="box-body">
                <?= $this->form()->openTag($form); ?>

                <div class="form-group">
                    <?= $this->formLabel($form->get('email')); ?>
                    <?= $this->formElement($form->get('email')); ?>
                    <?= $this->formElementErrors($form->get('email')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($form->get('full_name')); ?>
                    <?= $this->formElement($form->get('full_name')); ?>
                    <?= $this->formElementErrors($form->get('full_name')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($form->get('password')); ?>
                    <?= $this->formElement($form->get('password')); ?>
                    <?= $this->formElementErrors($form->get('password')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($form->get('confirm_password')); ?>
                    <?= $this->formElement($form->get('confirm_password')); ?>
                    <?= $this->formElementErrors($form->get('confirm_password')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($form->get('status')); ?>
                    <?= $this->formElement($form->get('status')); ?>
                    <?= $this->formElementErrors($form->get('status')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($form->get('roles')); ?>
                    <?= $this->formElement($form->get('roles')); ?>
                    <?= $this->formElementErrors($form->get('roles')); ?>
                </div>

                <?= $this->formElement($form->get('csrf')); ?>
                <?= $this->formElementErrors($form->get('csrf')); ?>
            </div>
            <div class="box-footer">
                <?= $this->formElement($form->get('submit')); ?>
            </div>
        </div>
        <?= $this->form()->closeTag(); ?>
    </div>
</div>

