<?php
$this->headTitle('Wachtwoord wijzigen');

$this->mainMenu()->setActiveItemId('gebruikers');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Gebruikersbeheer' => $this->url('gebruikers'),
    'Wachtwoord wijzigen' => $this->url('gebruikers', ['action' => 'change-password', 'id' => $user->getId()])
]);

$form->get('new_password')->setAttributes([
    'class' => 'form-control',
    'placeholder' => 'Nieuw wachtwoord'
]);

$form->get('confirm_new_password')->setAttributes([
    'class' => 'form-control',
    'placeholder' => 'Bevestig nieuw wachtwoord'
]);

$form->get('submit')->setAttributes(['class' => 'btn btn-primary pull-right'])->setValue('Opslaan');

$form->prepare();
?>

<div class="row">
    <div class="col-md-6">
        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Wijzig wachtwoord voor <?= $this->escapeHtml($user->getEmail()) ?></h3>
            </div>
            <div class="box-body">
                <?= $this->form()->openTag($form); ?>

                <div class="form-group">
                    <?= $this->formLabel($form->get('new_password')); ?>
                    <?= $this->formElement($form->get('new_password')); ?>
                    <?= $this->formElementErrors($form->get('new_password')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($form->get('confirm_new_password')); ?>
                    <?= $this->formElement($form->get('confirm_new_password')); ?>
                    <?= $this->formElementErrors($form->get('confirm_new_password')); ?>
                </div>

                <?= $this->formElement($form->get('csrf')); ?>
            </div>
            <div class="box-footer">
                <?= $this->formElement($form->get('submit')); ?>

                <?= $this->form()->closeTag(); ?>
            </div>
        </div>
    </div>
</div>


