<?php
$this->headTitle('Gebruiker aanpassen');

$this->mainMenu()->setActiveItemId('gebruikers');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Gebruikersbeheer' => $this->url('gebruikers'),
    'Gebruiker aanpassen' => $this->url('gebruikers', ['action' => 'edit', 'id' => $user->getId()])
]);

$form = $this->form;

$form->get('email')->setAttributes([
    'class' => 'form-control',
    'placeholder' => 'name@example.com'
]);

$form->get('full_name')->setAttributes([
    'class' => 'form-control',
    'placeholder' => 'John Doe'
]);

$form->get('status')->setAttributes([
    'class' => 'form-control'
]);

$form->get('roles')->setAttributes([
    'class' => 'form-control'
]);

$form->get('submit')
    ->setAttributes(['class' => 'btn btn-primary'])
    ->setValue('Save');

$form->prepare();
?>
<div class="row">
    <div class="col-md-6">
        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Gebruiker aanpassen</h3>
            </div>
            <?= $this->form()->openTag($form); ?>
            <div class="box-body">

                <div class="form-group">
                    <?= $this->formLabel($form->get('email')); ?>
                    <?= $this->formElement($form->get('email')); ?>
                    <?= $this->formElementErrors($form->get('email')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($form->get('full_name')); ?>
                    <?= $this->formElement($form->get('full_name')); ?>
                    <?= $this->formElementErrors($form->get('full_name')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($form->get('status')); ?>
                    <?= $this->formElement($form->get('status')); ?>
                    <?= $this->formElementErrors($form->get('status')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($form->get('roles')); ?>
                    <?= $this->formElement($form->get('roles')); ?>
                    <?= $this->formElementErrors($form->get('roles')); ?>
                </div>

                <?= $this->formElement($form->get('csrf')); ?>
                <?= $this->formElementErrors($form->get('csrf')); ?>


            </div>
            <div class="box-footer">
                <?= $this->formElement($form->get('submit')); ?>
            </div>
            <?= $this->form()->closeTag(); ?>
            </form>
        </div>
    </div>
</div>
