<?php
$this->headTitle('Gebruikers');

$this->mainMenu()->setActiveItemId('gebruikers');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Gebruikersbeheer' => $this->url('gebruikers'),
]);
?>
<div class="row">
    <div class="col-md-12">
        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Gebruikersbeheer</h3>
            </div>
            <div class="box-body table-responsive">
                <p>
                    <a class="btn btn-default" href="
                        <?= $this->url('gebruikers', ['action' => 'add']); ?>">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nieuwe gebruiker
                    </a>
                </p>
                <table id="datatable" class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>E-mail</th>
                        <th>Naam</th>
                        <th>Rollen</th>
                        <th>Gebruiker sinds</th>
                        <th>Status</th>
                        <th>Acties</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($users as $user): ?>
                        <tr>
                            <td><?= $this->escapeHtml($user->getId()); ?></td>
                            <td>
                                <a href="<?= $this->url('gebruikers', ['action' => 'view', 'id' => $user->getId()]); ?>">
                                    <?= $this->escapeHtml($user->getEmail()); ?>
                                </a>
                            </td>
                            <td>
                                <?= $this->escapeHtml($user->getFullName()); ?></a>
                            </td>
                            <td>
                                <?= $this->escapeHtml($user->getRolesAsString()); ?></a>
                            </td>
                            <td>
                                <nobr><?= $this->escapeHtml($user->getDateCreated()); ?></nobr>
                            </td>
                            <td><?= $this->escapeHtml($user->getStatusAsString()); ?></td>
                            <td>
                                <a class="btn btn-info" href="<?= $this->url('gebruikers',
                                    ['action' => 'edit', 'id' => $user->getId()]); ?>">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit
                                </a>
                                <a class="btn btn-default" href="<?= $this->url('gebruikers',
                                    ['action' => 'change-password', 'id' => $user->getId()]); ?>">
                                    <span class="glyphicon glyphicon-asterisk"></span> Change Password
                                </a>
                            </td>
                        </tr>

                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: true,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true,
            order: [[3, "desc"]],
        })
    });
</script>