<?php

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Profiel' => $this->url('profiel'),
]);

echo $this->partial('/product/partial/flashMessenger.phtml');
?>

<div class="row">
    <div class="col-md-12">
        <?= $this->flashMessenger()->render('error', ['alert', 'alert-error', 'alert-dismissible']); ?>
        <?= $this->flashMessenger()->render('success', ['alert', 'alert-success', 'alert-dismissible']); ?>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Profiel</h3>
            </div>
            <div class="box-body">
                <table class="table table-hover">
                    <tr>
                        <th>Gebruikersnaam:</th>
                        <td><?= $this->user->getFullName()?></td>
                    </tr>
                    <tr>
                        <th>E-mailadres:</th>
                        <td><?= $this->user->getEmail()?></td>
                    </tr>
                    <tr>
                        <th>Gebruiker sinds:</th>
                        <td><?= $this->user->getDateCreated()?></td>
                    </tr>
                    <tr>
                        <th>Status:</th>
                        <td><?= ($this->user->getStatus() == 1) ? "Actief" : "Inactief"?></td>
                    </tr>
                    <tr>
                        <th>Saldo:</th>
                        <td style="<?= ($this->user->getBalance() < 0) ? 'color:red' : '' ?>"><?= $this->user->getBalance()?></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>