<?php
$this->headTitle('Gebruiker inzien');

$this->mainMenu()->setActiveItemId('gebruikers');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Gebruikersbeheer' => $this->url('gebruikers'),
    'Gebruiker inzien' => $this->url('gebruikers', ['action' => 'view', 'id' => $user->getId()])
]);

echo $this->partial('/product/partial/flashMessenger.phtml');

?>

<div class="row">
    <div class="col-md-12">
        <?= $this->flashMessenger()->render('error', ['alert', 'alert-warning']); ?>
        <?= $this->flashMessenger()->render('success', ['alert', 'alert-success', 'alert-dismissible']); ?>
        <?= $this->flashMessenger()->render('info', ['alert', 'alert-info']); ?>
        <div class="col-md-3">
            <div class="box box-info ">
                <div class="box-header with-border">
                    <h3 class="box-title">Gebruiker <?= $this->escapeHtml($user->getEmail()) ?></h3>
                </div>
                <div class="box-body">

                    <p>
                        <a class="btn btn-default" href="<?= $this->url('gebruikers',
                            ['action' => 'edit', 'id' => $user->getId()]); ?>">
                            <span class="glyphicon glyphicon-pencil"></span> Aanpassen
                        </a>
                        <a class="btn btn-default" href="<?= $this->url('gebruikers',
                            ['action' => 'change-password', 'id' => $user->getId()]); ?>">
                            <span class="glyphicon glyphicon-asterisk"></span> Wachtwoord wijzigen
                        </a>
                    </p>
                    <table class="table table-responsive table-hover">
                        <tr>
                            <th>ID:</th>
                            <td>
                            <?= $this->escapeHtml($user->getId()) ?></th>
                        </tr>
                        <tr>
                            <th>E-mail:</th>
                            <td>
                            <?= $this->escapeHtml($user->getEmail()) ?></th>
                        </tr>
                        <tr>
                            <th>Naam:</th>
                            <td>
                            <?= $this->escapeHtml($user->getFullName()) ?></th>
                        </tr>
                        <tr>
                            <th>Gebruiker sinds:</th>
                            <td>
                            <?= $this->escapeHtml($user->getDateCreated()) ?></th>
                        </tr>
                        <tr>
                            <th>Status:</th>
                            <td>
                            <?= $this->escapeHtml($user->getStatusAsString()) ?></th>
                        </tr>
                        <tr>
                            <th>Rollen:</th>
                            <td>
                            <?= $this->escapeHtml($user->getRolesAsString()) ?></th>
                        </tr>
                        <tr>
                            <th>Saldo:</th>
                            <td style="<?= ($this->user->getBalance() < 0) ? 'color:red' : '' ?>"><?= $this->user->getBalance()?></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>