<div class="box box-info ">
    <div class="box-header with-border">
        <h3 class="box-title">Historie saldo</h3>
        <div class="box-tools pull-right">
            <!-- Collapse Button -->
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="chart">
            <canvas id="line-chart" style="height:268px;"></canvas>
        </div>
    </div>
</div>
<script>

    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: <?= $this->transactionDates ?>,
            datasets: [{
                data: <?= $this->transactionAmounts ?>,
                borderColor: "#3e95cd",
                fill: true,
                lineTension: 0
            }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
            },
            scales: {
                xAxes: [{
                    ticks: {
                        autoSkip: true,
                        maxTicksLimit: 10
                    }
                }],
                yAxes: [{
                    ticks: {
                        callback: function(value, index, values) {
                            return value.toLocaleString("en-US",{style:"currency", currency:"EUR"});
                        }
                    }
                }],
            }
        },

    });
</script>