<?php
$this->mainMenu()->setActiveItemId('mail');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'E-mail' => $this->url('mail'),
]);

echo $this->partial('/product/partial/flashMessenger.phtml');
?>

<div class="row">
    <div class="col-md-12">
        <?= $this->flashMessenger()->render('error', ['alert', 'alert-error', 'alert-dismissible']); ?>
        <?= $this->flashMessenger()->render('success', ['alert', 'alert-success', 'alert-dismissible']); ?>

        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Saldo-update versturen</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">De laatste update is verstuurd door <?= $this->userName ?> op: <?= $this->date->format('H:i d-m-Y')?></div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a class="btn btn-primary" href="<?= $this->url('mail',
                            ['action' => 'send-update']); ?>">
                            <span class="fa fa-envelope"></span> Update versturen
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>