<?php
$this->headTitle('Edit Role Permissions');

$this->mainMenu()->setActiveItemId('roles');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Rollenbeheer' => $this->url('roles'),
    'Wijzig rol' => $this->url('roles', ['action' => 'edit', 'id' => $role->getId()])
]);

$form->get('submit')
    ->setAttributes(['class' => 'btn btn-primary pull-right'])
    ->setValue('Opslaan');

$form->prepare();
?>

<div class="row">
    <div class="col-md-8">
        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Wijzig rechten van <?= $this->escapeHtml($role->getName()) ?></h3>
            </div>
            <div class="box-body">

                <?= $this->form()->openTag($form); ?>
                <table class="table table-hover">
                    <tr>
                        <th>Naam</th>
                        <th>Beschrijving</th>
                    </tr>
                    <?php foreach ($allPermissions as $permission):
                        $element = $form->get('permissions')->get($permission->getName());
                        ?>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label><input type="checkbox"
                                                  name="<?= $this->escapeHtmlAttr($element->getName()) ?>"
                                                  value="<?= $this->escapeHtmlAttr($element->getCheckedValue()) ?>"
                                            <?php if ($element->isChecked()) echo 'checked' ?>
                                            <?php if ($element->getAttribute('disabled')) echo 'disabled' ?>>
                                        <?= $this->escapeHtml($element->getLabel()) ?>
                                    </label>
                                    <?= $this->formElementErrors($element); ?>
                                </div>
                            </td>
                            <td>
                                <?= $this->escapeHtml($permission->getDescription()) ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </table>
                <?= $this->formElement($form->get('csrf')); ?>
            </div>
            <div class="box-footer">
                <?= $this->formElement($form->get('submit')); ?>

                <?= $this->form()->closeTag(); ?>
            </div>
        </div>
    </div>
</div>

