<?php
$this->headTitle('Edit Role');

$this->mainMenu()->setActiveItemId('roles');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Rollenbeheer' => $this->url('roles'),
    'Wijzig rol ' . $role->getName() => $this->url('roles', ['action' => 'edit', 'id' => $role->getId()])
]);

$form->get('name')->setAttributes([
    'class' => 'form-control',
    'placeholder' => 'Naam'
]);

$form->get('description')->setAttributes([
    'class' => 'form-control',
    'placeholder' => 'Beschrijving'
]);

$form->get('inherit_roles')->setAttributes([
    'class' => 'form-control',
]);


$form->get('submit')
    ->setAttributes(['class' => 'btn btn-primary pull-right'])
    ->setValue('Opslaan');

$form->prepare();
?>

<div class="row">
    <div class="col-md-6">
        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Rol wijzigen</h3>
            </div>
            <div class="box-body">
                <p>
                    <a class="btn btn-default"
                       href="<?= $this->url('roles', ['action' => 'editPermissions', 'id' => $role->getId()]) ?>">
                        <span class="glyphicon glyphicon-check"></span> Wijzig rechten
                    </a>
                </p>

                <?= $this->form()->openTag($form); ?>

                <div class="form-group">
                    <?= $this->formLabel($form->get('name')); ?>
                    <?= $this->formElement($form->get('name')); ?>
                    <?= $this->formElementErrors($form->get('name')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($form->get('description')); ?>
                    <?= $this->formElement($form->get('description')); ?>
                    <?= $this->formElementErrors($form->get('description')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($form->get('inherit_roles')); ?>
                    <?= $this->formElement($form->get('inherit_roles')); ?>
                    <?= $this->formElementErrors($form->get('inherit_roles')); ?>
                </div>

                <?= $this->formElement($form->get('csrf')); ?>
            </div>
            <div class="box-footer">
                <?= $this->formElement($form->get('submit')); ?>

                <?= $this->form()->closeTag(); ?>
            </div>
        </div>
    </div>
</div>

