<?php
$this->headTitle('Roles');

$this->mainMenu()->setActiveItemId('roles');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Rollenbeheer' => $this->url('roles'),
]);

echo $this->partial('/product/partial/flashMessenger.phtml');

?>

<div class="row">
    <div class="col-md-12">
        <?= $this->flashMessenger()->render('error', ['alert', 'alert-error', 'alert-dismissible']); ?>
        <?= $this->flashMessenger()->render('success', ['alert', 'alert-success', 'alert-dismissible']); ?>

        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Overzicht rechten</h3>
            </div>
            <div class="box-body">
                <p>
                    <a class="btn btn-default" href="
    <?= $this->url('roles', ['action' => 'add']); ?>">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nieuwe rol
                    </a>
                </p>

                <table class="table table-hover">

                    <tr>
                        <th>ID</th>
                        <th>Naam</th>
                        <th>Beschrijving</th>
                        <th>Datum aangemaakt</th>
                        <th>Acties</th>
                    </tr>

                    <?php foreach ($roles as $role): ?>

                        <tr>
                            <td><?= $this->escapeHtml($role->getId()); ?></td>
                            <td>
                                <a href="<?= $this->url('roles', ['action' => 'view', 'id' => $role->getId()]); ?>">
                                    <?= $this->escapeHtml($role->getName()); ?>
                                </a>
                            </td>
                            <td><?= $this->escapeHtml($role->getDescription()); ?></a>
                            </td>
                            <td>
                                <nobr><?= $this->escapeHtml($role->getDateCreated()); ?></nobr>
                            </td>
                            <td>
                                </nobr>
                                <a class="btn btn-info" href="<?= $this->url('roles',
                                    ['action' => 'edit', 'id' => $role->getId()]); ?>">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit
                                </a>
                                <a class="btn btn-danger" href="<?= $this->url('roles',
                                    ['action' => 'delete', 'id' => $role->getId()]); ?>">
                                    <span class="glyphicon glyphicon-remove"></span> Delete
                                </a>
                                </nobr>
                            </td>
                        </tr>

                    <?php endforeach; ?>

                </table>
            </div>
        </div>
    </div>
</div>




