<?php
$this->headTitle('View Role');

$this->mainMenu()->setActiveItemId('roles');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Rollenbeheer' => $this->url('roles'),
    'Rol  ' . $role->getName() => $this->url('roles', ['action' => 'view', 'id' => $role->getId()])
]);

echo $this->partial('/product/partial/flashMessenger.phtml');

?>

<div class="row">
    <div class="col-md-12">
        <?= $this->flashMessenger()->render('error', ['alert', 'alert-error', 'alert-dismissible']); ?>
        <?= $this->flashMessenger()->render('success', ['alert', 'alert-success', 'alert-dismissible']); ?>
    </div>

    <div class="col-md-8">
        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Rol <?= $this->escapeHtml($role->getName()) ?></h3>
            </div>
            <div class="box-body">
                <p>
                    <a class="btn btn-default" href="<?= $this->url('roles',
                        ['action' => 'edit', 'id' => $role->getId()]); ?>">
                        <span class="glyphicon glyphicon-pencil"></span> Wijzig rol
                    </a>
                </p>
                <table class="table table-hover">
                    <tr>
                        <th>ID:</th>
                        <td>
                        <?= $this->escapeHtml($role->getId()) ?></th>
                    </tr>
                    <tr>
                        <th>Naam:</th>
                        <td>
                        <?= $this->escapeHtml($role->getName()) ?></th>
                    </tr>
                    <tr>
                        <th>Beschrijving:</th>
                        <td>
                        <?= $this->escapeHtml($role->getDescription()) ?></th>
                    </tr>
                    <tr>
                        <th>Datum aangemaakt:</th>
                        <td>
                        <?= $this->escapeHtml($role->getDateCreated()) ?></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Rechten</h3>
            </div>
            <div class="box-body">
                <p>
                    <a class="btn btn-default"
                       href="<?= $this->url('roles', ['action' => 'editPermissions', 'id' => $role->getId()]) ?>">
                        <span class="glyphicon glyphicon-check"></span> Wijzig rechten
                    </a>
                </p>

                <div class="row">
                    <div class="col-md-8">
                        <table class="table table-hover">
                            <tr>
                                <th>Naam</th>
                                <th>Beschrijving</th>
                            </tr>
                            <?php foreach ($allPermissions as $permission): ?>
                                <tr>
                                    <td>
                                        <input type="checkbox"
                                               disabled <?php if (isset($effectivePermissions[$permission->getName()])) echo 'checked'; ?>>
                                        <?= $this->escapeHtml($permission->getName()) ?>
                                        <?php if (isset($effectivePermissions[$permission->getName()]) && $effectivePermissions[$permission->getName()] == 'inherited'): ?>
                                            <em>(inherited)</em>
                                        <?php endif; ?>
                                    </td>
                                    <td><?= $this->escapeHtml($permission->getDescription()) ?></td>
                                </tr>
                            <?php endforeach; ?>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
