<?php

$this->mainMenu()->setActiveItemId('permissions');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home'),
    'Rechtenbeheer' => $this->url('permissions'),
]);

echo $this->partial('/product/partial/flashMessenger.phtml');

?>

<div class="row">
    <div class="col-md-12">
        <?= $this->flashMessenger()->render('error', ['alert', 'alert-warning']); ?>
        <?= $this->flashMessenger()->render('success', ['alert', 'alert-success', 'alert-dismissible']); ?>
        <?= $this->flashMessenger()->render('info', ['alert', 'alert-info']); ?>
        <div class="box box-info ">
            <div class="box-header with-border">
                <h3 class="box-title">Overzicht rechten</h3>
            </div>
            <div class="box-body">
                <p>
                    <a class="btn btn-default" href="
    <?= $this->url('permissions', ['action' => 'add']); ?>">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Toevoegen
                    </a>
                </p>

                <table class="table table-hover">

                    <tr>
                        <th>ID</th>
                        <th>Naam</th>
                        <th>Beschrijving</th>
                        <th>Datum aangemaakt</th>
                        <th>Acties</th>
                    </tr>

                    <?php foreach ($permissions as $permission): ?>

                        <tr>
                            <td><?= $this->escapeHtml($permission->getId()); ?></td>
                            <td>
                                <?= $this->escapeHtml($permission->getName()); ?>
                            </td>
                            <td><?= $this->escapeHtml($permission->getDescription()); ?></a>
                            </td>
                            <td>
                                <nobr><?= $this->escapeHtml($permission->getDateCreated()); ?></nobr>
                            </td>
                            <td>
                                <nobr>
                                    <a class="btn btn-info" href="<?= $this->url('permissions',
                                        ['action' => 'edit', 'id' => $permission->getId()]); ?>">
                                        <span class="glyphicon glyphicon-pencil"></span> Edit
                                    </a>
                                    <a class="btn btn-danger" href="<?= $this->url('permissions',
                                        ['action' => 'delete', 'id' => $permission->getId()]); ?>">
                                        <span class="glyphicon glyphicon-remove"></span> Delete
                                    </a>
                                </nobr>
                            </td>
                        </tr>

                    <?php endforeach; ?>

                </table>
            </div>
        </div>
    </div>
</div>


