<div class="col-md-6">
    <div class="box box-info ">
        <div class="box-header with-border">
            <h3 class="box-title">Prijscategorieën</h3>
        </div>
        <div class="box-body table-responsive">
            <table id="priceCategories" class="table table-hover" style="width:100%">
                <thead>
                <tr>
                    <th>Naam</th>
                    <th>Prijs</th>
                    <th>Acties</th>
                </tr>
                </thead>
                <tbody>
                <? foreach ($this->priceCategories as $category): ?>
                    <tr>
                        <td><?= $category->getName() ?></td>
                        <td>&euro;<?= $category->getPrice() ?></td>
                        <td><a href="<?= $this->url('prijscategorie',
                                ['action' => 'edit', 'id' => $category->getId()]); ?>"><i class="fa fa-edit"></i></a><a
                                id="removeItem" onclick="removeItem(<?= $category->getId() ?>); return false;" href="#"><i
                                    class="fa fa-remove"></i></a>
                        </td>
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
     id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Bevestigen</h4>
            </div>
            <div class="modal-body">
                <span>Weet je zeker dat je deze categorie wilt verwijderen?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-no">Nee</button>
                <button type="button" class="btn btn-primary" id="modal-btn-yes">Ja</button>
            </div>
        </div>
    </div>
</div>

<!-- page script -->
<script>
    $(document).ready(function () {
        $('#priceCategories').DataTable({
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: true,
            order: [[1, "asc"]]
        })
    });

    function removeItem(id) {
        var id = id;
        var base_url = window.location.origin;

        $("#deleteModal").modal('show');

        $("#modal-btn-no").on("click", function () {
            $("#deleteModal").modal('hide');
        });

        $("#modal-btn-yes").on("click", function () {
            url = base_url + "/prijscategorie/delete/" + id
            $(location).attr("href", url);
        });
    }
</script>
