<?php

$flash = $this->flashMessenger();

$flash->setMessageOpenFormat('<div%s>
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
    &times;
</button>
<li>')
        ->setMessageSeparatorString('</li><li>')
        ->setMessageCloseString('</li></div>');
