<?php

$form = $this->form;
$form->prepare();
?>

<div class="box box-info ">
    <div class="box-header with-border">
        <h3 class="box-title">Consumptie bestellen</h3>
        <div class="box-tools pull-right">
            <!-- Collapse Button -->
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <?= $this->form()->openTag($form); ?>
        <div class="box-body">

            <?= $this->formElement($form->get('csrf')); ?>

            <div class="form-group">
                <row>
                    <div class="col-md-12 input-group">
                        <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                        <?= $this->formElement($form->get('amount')); ?>
                    </div>
                </row>
            </div>
            <div class="form-group">
                <row>
                    <div class="col-md-12 input-group">
                        <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                        <?= $this->formElement($form->get('product')); ?>
                    </div>
                </row>
            </div>
        </div>
        <div class="box-footer">
            <?= $this->formElement($form->get('submit')); ?>
        </div>
        <?= $this->form()->closeTag(); ?>
    </div>
</div>
