<?php
$this->headTitle('Welcome');

$this->mainMenu()->setActiveItemId('home');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home')
]);

echo $this->partial('/product/partial/flashMessenger.phtml');
?>
<div class="row">
    <div class="col-md-12">
        <?= $this->flashMessenger()->render('error', ['alert', 'alert-error', 'alert-dismissible']); ?>
        <?= $this->flashMessenger()->render('success', ['alert', 'alert-success', 'alert-dismissible']); ?>
    </div>
</div>
<div class="row">
    <section class="col-md-3">
        <?= $this->partial('/user/partial/widget/balance.phtml'); ?>
        <?= $this->partial('/consumption/partial/widget/consumption.phtml'); ?>
    </section>
    <section class="col-md-6">
        <?= $this->partial('/payment/partial/widget/transactionHistory.phtml'); ?>
    </section>
</div>
<? if($this->balances != null) : ?>
<div class="row">
    <div class="col-md-3">
        <?= $this->partial('/user/partial/widget/balances.phtml'); ?>
    </div>
</div>
<? endif; ?>


